body {
  background-color: black;
  font-family: "Verdana", sans-serif;
  color: white;
  text-align: center;
}

h1 {
  font-weight: normal;
  font-size: 50px;

  }

h2 {
  font-weight: 300;
  font-size: 42px;
  }

  .link {
    color: aquamarine;
    font-size: 16px;
  }

  p {
  font-size: 21px;
  color: gray;
}

  .footer {
  text-align: right;
}
