body {
  background-color: black;
}

h1 {
  font-family: Verdana;
  font-weight: normal;
  font-size: 50px;
  color: white;
  text-align: center;
}

h2 {
  font-family: Verdana;
  font-weight: 300;
  font-size: 42px;
  }

  h3 {
    font-size: 16px;
    color: Aquamarine;
    text-align: center;
  }
